<div id="header_wrap" class="outer">
  <header class="inner">
    <a id="forkme_banner" href="https://github.com/LinkLook/yoy-wiw">View on GitHub</a>

    <h1 id="project_title">Yoy-wiw</h1>
    <h2 id="project_tagline">A website on lisp.</h2>

    <section id="downloads">
      <a class="zip_download_link" href="https://github.com/LinkLook/yoy-wiw/zipball/master">Download this project as a .zip file</a>
      <a class="tar_download_link" href="https://github.com/LinkLook/yoy-wiw/tarball/master">Download this project as a tar.gz file</a>
    </section>
  </header>
</div>
